* {
    margin: 0;
    padding: 0;
}

.resaltar-con-rojo, .cantidad-disponible {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.resaltar-con-rojo {
    background-color: #d1fb38;
    border: 2px orangered solid;
    border-radius: 8px;
    font-weight: bold;
    padding: 0 5px;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

form > div {
    padding: 10px;
    min-width: 300px;
}

.contenedor-parte-principal {
    background-color: orange;
    text-align: center;
    border: 2px solid orangered;
    border-radius: 5px;
   
}

.contenedor-control-inventario {
    display: flex;
    justify-content: space-between;
   
}

.contenedor-selector-numerico {
    position: relative;
    display: flex;
    align-items: center;
    
}

.contenedor-selector-numerico input {
    text-align: center;
    width: 100%;
}

.contenedor-selector-numerico img {
    width: 20px;
    position: absolute;
    cursor: pointer;

}

.boton-restar {
    left: 20px;
}

.boton-sumar {
    right: 20px;
}

.precio {
    line-height: 40px;
    font-weight: bold;
}

.agregar-al-carrito {
    background-color: #fdeae6;
    border: 2px solid orangered;
    color: orangered;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 0px rgba(223, 247, 102, 0.369);
}

.agregar-al-carrito:active {
   
    box-shadow: 0px 0px 11px 1px orangered;
}

.formCount {
    background-color: white;
    width: 100%;
}