.resaltar-con-rojo, .cantidad-disponible {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.resaltar-con-rojo {
    background-color: #ff5e5e;
    border: 3px #fb3838 solid;
    border-radius: 8px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

form > div {
    padding: 10px;
    min-width: 400px;
}

.contenedor-parte-principal {
    background-color: #efeae9;
}

.contenedor-control-inventario {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.contenedor-selector-numerico {
    position: relative;
    display: flex;
    align-items: center;
}

.contenedor-selector-numerico input {
    text-align: center;
    width: 100%;
}

.contenedor-selector-numerico img {
    width: 20px;
    position: absolute;
    cursor: pointer;
}

.boton-restar {
    left: 20px;
}

.boton-sumar {
    right: 20px;
}

.precio {
    line-height: 40px;
    font-weight: bold;
}

.agregar-al-carrito {
    background-color: #fdeae6;
    border: 3px #fb3838 solid;
    color: #a31c1c;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 2px 0px rgb(0 0 0 / 75%);
}

.agregar-al-carrito:active {
    background-color: #f8f9fa;
    box-shadow: 0px 0px 11px 1px rgb(0 0 0 / 75%);
}